<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Task Management app</title>
</head>
<body>
    <h1>Welcome to Task Management app</h1>

    <p>Welcome to successful login into Passport authentication <%= user.username %>!</p>
    <a href="/auth/logout">Logout</a>


    <p>View All tasks</p>
    <a href="/task/tasks">View All Tasks</a>

    <p>View All Users</p>
    <a href="/task/users">View All Users </a>

    <p>View Tasks by tasks status</p>
    <a href="/task/tasks/status/Incomplete">View Tasks by tasks status</a>

    <p>View Tasks by Task ID</p>
    <a href="/task/task/65d8fb2967d36f69438de302">View Tasks by Task ID</a>
   

    <p>View User by user Name</p>
    <a href="/task/user/ram">View User by user Name</a>

 

    </script>
</body>
</html>
